APP_HOST=localhost
APP_PORT=80

DB_NAME=home_inventory_api
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root

JWT_SECRET=test_secret
JWT_DURATION=24

AWS_ACCESS_KEY_ID=example
AWS_SECRET_ACCESS_KEY=example
AWS_REGION=example
S3_BUCKET_NAME=example
